#contactContainer{
   width: 100%;
   height: 100%;
}

div.boxContacts{
    height: 400px;
    width: 800px;
    margin: 80px auto;
    background-color: wheat;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: 2px 2px 5px;
    justify-content: space-evenly;
}

.logoContact{
    border-right: 1px solid black;
}

.logoContact img{
   width: 290px;
   padding-right: 20px;
}

div.contacts{
    margin-right: 30px;
}

div.contacts ul li{
    list-style: none;
    padding: 10px;
    color: rgb(0, 0, 0);
}

div.contacts ul img{
    width: 35px;
    margin-top: 10px;
}

div.contacts a{
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    font-size: 15px;
    
}

div.contacts li.secondContact{
    border-bottom: 2px solid #25d366;
    transition: 0.3s;
}

div.contacts li.firstContact{
    border-bottom: 2px solid #2570d3;
    transition: 0.3s;
}

div.contacts li.forthContact{
    border-bottom: 2px solid #26008b;
    transition: 0.3s;
}

div.contacts li.thirdContact{
    border-bottom: 2px solid #000000;
    transition: 0.3s;
}

.linkBack{
    text-decoration: none;
    border: 2px solid #000;
    border-radius: 18px;
    color: #000;
    font-size: 600;
    padding: 10px;
    transition: 0.3s;
}

.linkBack:hover{
    background-color: rgb(26, 26, 26);
    color: #fff;
}

@media (max-width: 800px){
    div.boxContacts{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logoContact{
        border-bottom: 1px solid black;
        margin-bottom: 15px;
        margin-top: 10px;
        padding-bottom: 10px;
        border-right: none;
    }

    div.contacts{
        margin-right: 0;
        margin-bottom: 20px;
    }

    .linkBack{
        margin-top: 15px;
    }
}